<h1> Order Page </h1>
<p> Quatinty: <%= @order.quantity %> </p>
<p> User id: <%= @order.user_id %> </p>

<p> Product name: <%= @product.name %> </p>

<p> Product price: <%= @product.price %> </p>
<p> Product tax: <%= @product.tax %> </p>
<p> Product Total: <%= @product.total %> </p>
<p> Product Email: <%= @user.email %> </p>
<p> Product Image: <img src=<%=@product.images%>> </p>
<p> Purchased time: <%= @order.created_at %> </p>
