<h1> Product info </h1>

<p> Name </p>
<p>Price</p>  
<p>Image</p>
<p>Description</p>

<h1> Products </h1>
<div class="row">

    <% @products.each do |product| %>
      <div class="col-md-4"> 
        <h2><a href= "/products/<%= product.id %>"><%= product.name %></a></h2>
        <h3><%= product.price %></h3>
        <p> Images: </p>
        <% product.images.each do |image| %>

        <h3><img src="<%= image.image_url %>" height="100px" width="100px"></h3>
        <% end %>


        <h3><%= product.description %></h3>

        <h5> <a data-confirm="Are you sure?" data-method="delete"href="/products/<%=product.id%>" rel="nofollow">Delete</a> </h5>
      </div>    
    <% end %>

</div>
